{% extends 'base.html' %}



{% block content %}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Account Settings
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="card">
          <div class="row g-0">
            <div class="col-12 col-md-3 border-end">
              {% include 'settings_sidebar_part.html' %}
            </div>
            <div class="col-12 col-md-9 d-flex flex-column">
              <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_table}}
                    <button>Изменить пароль</button>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <style>
    img {
    max-width: 10%;
}
  </style>
{% endblock %}