{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Регистрация прошла успешно!</h4>
          <p>Вы успешно зарегистрировались на нашем сайте.</p>
          <hr>
          <p class="mb-0">Теперь вы можете перейти на главную страницу или выполнить вход в свой аккаунт.</p>
        </div>
        <div class="text-center">
          <a class="btn btn-primary mr-2" href="{%url 'index'%}">На главную</a>
          <a class="btn btn-primary mr-2" href="{%url 'login'%}">Вход</a>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}