<div class="card-body">
   
    <div class="list-group list-group-transparent">
      <a href="{% url 'profile' %}" class="list-group-item list-group-item-action d-flex align-items-center">Данные профиля</a>
      <a href="{% url 'edit_profile' %}" class="list-group-item list-group-item-action d-flex align-items-center">Редактировать профиль</a>
      <a href="{% url 'change_password' %}" class="list-group-item list-group-item-action d-flex align-items-center">Изменить пароль</a>
      
      {% if request.user.is_staff %}
      <a href="{% url 'doctor_plan'  %}" class=list-group-item list-group-item-action d-flex align-items-center>Мое расписание</a>
      <a href="{% url 'view_records_list'  %}" class=list-group-item list-group-item-action d-flex align-items-center>Записи приемов пациентов</a>
      {% endif %}
      {%if request.user.patient%}
      <a href="{% url 'patient_records'  %}" class=list-group-item list-group-item-action d-flex align-items-center>Моя история болезней</a>
      {%endif%}
    </div> 
  </div>