   <!-- ======= Services Section ======= -->
 {% extends 'base.html' %}
 {% load static %}
 {% load humanize %}
 {% block content %}
   <section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Услуги</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="{{about.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <p class="fst-italic">{{about.description}}</p>
         
        </div>
      </div>

      <div class="row">
        {%for service in services %}
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"> <img src="{{service.image.url}}" alt=""></div>
          <h4 class="title"><a href="{% url 'service_template' id=service.id %}">{{service.name}}</a></h4>
         
        </div>
        {%endfor%}
      </div>

    </div>
  </section>

       <style>
      .icon-box .icon img {
    max-width: 135%; 
    max-height: 135px; 
    height: auto; 
    }
    </style>

  
 {%endblock%}